<!DOCTYPE html>
<html lang="{{ locale }}">
  <head>
    {% comment %} Base metadata {% endcomment %}
    {%- render 'page-base-meta',
        brand_color: branding_color,
        canonical_url: canonical_url,
        page_description: page_description,
        page_title: page_title,
        settings: settings,
        is_local_env: local_env?,
        shop: shop
    -%}

    {% comment %} Resource hints for performance {% endcomment %}
    {%- render 'page-resource-hints' -%}

    {% comment %} Preload fonts {% endcomment %}
    {%- render 'fonts', settings: settings -%}

    {{ content_for_checkout_header }}

    {%- render 'page-social-share-meta',
        canonical_url: canonical_url,
        locale: locale,
        image_url: page_meta_image_url,
        image_alt: page_meta_image_alt,
        page_description: page_description,
        page_title: page_title,
        product: product,
        shop: shop
    -%}
  </head>
  <body>
    <main id="main">
      {{ content_for_layout }}
    </main>

    {{ content_for_body }}

    {%- render 'cookie-notice-variables', settings: settings -%}

    {%- render 'scripts-checkout-layout' -%}
  </body>
</html>
