header:has(.app-mobile) .header__app:has(.app-desktop) {
  display: none;
}

.header__app:has(.app-mobile) {
  display: flex;
  margin: 18px var(--horizontal-padding, 16px);
}

#section-header .app-mobile .weglot-widget__wrapper {
  border-radius: var(--border-radius-dynamic);
  transition: all var(--animation-duration) var(--transition-function-ease-in-out);
}

#section-header .app-mobile .weglot-widget__wrapper .weglot-widget__label {
  transition: all var(--animation-duration) var(--transition-function-ease-in-out);
}

#section-header .app-mobile .weglot-widget__dropdown {
  left: 0;
  border: 1px solid var(--color-border, #0B1A2626);
  border-radius: var(--border-radius-rounded);
  transition: all var(--animation-duration) var(--transition-function-ease-in-out);
}

#section-header .app-mobile .weglot-widget__dropdown--up {
  top: auto;
  bottom: calc(100% + 11px);
}

#section-header .app-mobile .weglot-widget__dropdown--down {
  bottom: auto;
  top: calc(100% + 11px);
}

#section-header .app-mobile .weglot-widget__dropdown:before,
#section-header .app-mobile .weglot-widget__dropdown:after {
  content: "";
  position: absolute;
  left: 32px;
  transform: translate(-50%, 0);
  width: 0px;
  height: 0px;
  border-style: solid;
  transition: all var(--animation-duration) var(--transition-function-ease-in-out);
}

#section-header .app-mobile .weglot-widget__dropdown--up:before,
#section-header .app-mobile .weglot-widget__dropdown--up:after {
  top: 100%;
  border-width: 10px 10px 0 10px;
}

#section-header .app-mobile .weglot-widget__dropdown--up:before {
  top: calc(100% + 1px);
}

#section-header .app-mobile .weglot-widget__dropdown--down:before,
#section-header .app-mobile .weglot-widget__dropdown--down:after {
  bottom: 100%;
  border-width: 0 10px 10px 10px;
}

#section-header .app-mobile .weglot-widget__dropdown--down:before {
  bottom: calc(100% + 1px);
}

#section-header .app-mobile .weglot-widget__item {
  white-space: nowrap;
  transition: all var(--animation-duration) var(--transition-function-ease-in-out);
}

#section-header .palette-one .app-mobile .weglot-widget__wrapper {
  border-color: var(--color-border, #0B1A2626);
}

#section-header .palette-one .app-mobile .weglot-widget__wrapper:hover {
  border-color: var(--color-outline-hover, #F4B841CC);
}

#section-header .palette-one .app-mobile .weglot-widget__wrapper:active {
  border-color: var(--color-outline-active, #F4B841BA);
}

#section-header .palette-one .app-mobile .weglot-widget__wrapper:hover .weglot-widget__label {
  color: var(--color-outline-hover, #F4B841CC);
}

#section-header .palette-one .app-mobile .weglot-widget__wrapper:active .weglot-widget__label {
  color: var(--color-outline-active, #F4B841BA);
}

#section-header .palette-one .app-mobile .weglot-widget__dropdown {
  border-color: var(--color-border, #0B1A2626);
  box-shadow: 0 0 8px var(--color-border, #0B1A2626);
}

#section-header .palette-one .app-mobile .weglot-widget__dropdown:hover {
  border-color: var(--color-outline-hover, #F4B841CC);
}

#section-header .palette-one .app-mobile .weglot-widget__dropdown:active {
  border-color: var(--color-outline-active, #F4B841BA);
}

#section-header .palette-one .app-mobile .weglot-widget__dropdown--up:before,
#section-header .palette-one .app-mobile .weglot-widget__dropdown--up:after {
  border-color: var(--background-primary, #FFFFFF) transparent transparent transparent;
}

#section-header .palette-one .app-mobile .weglot-widget__dropdown--up:before {
  border-color: var(--color-border, #0B1A2626) transparent transparent transparent;
}

#section-header .palette-one .app-mobile .weglot-widget__dropdown--up:hover:before {
  border-color: var(--color-outline-hover, #F4B841CC) transparent transparent transparent;
}

#section-header .palette-one .app-mobile .weglot-widget__dropdown--up:active:before {
  border-color: var(--color-outline-active, #F4B841BA) transparent transparent transparent;
}

#section-header .palette-one .app-mobile .weglot-widget__dropdown--down:before,
#section-header .palette-one .app-mobile .weglot-widget__dropdown--down:after {
  border-color: transparent transparent var(--background-primary, #FFFFFF) transparent;
}

#section-header .palette-one .app-mobile .weglot-widget__dropdown--down:before {
  border-color: transparent transparent var(--color-border, #0B1A2626) transparent;
}

#section-header .palette-one .app-mobile .weglot-widget__dropdown--down:hover:before {
  border-color: transparent transparent var(--color-outline-hover, #F4B841CC) transparent;
}

#section-header .palette-one .app-mobile .weglot-widget__dropdown--down:active:before {
  border-color: transparent transparent var(--color-outline-active, #F4B841BA) transparent;
}

#section-header .palette-one .app-mobile .weglot-widget__item:hover {
  color: var(--color-outline-hover, #F4B841CC);
}

#section-header .palette-one .app-mobile .weglot-widget__item:active {
  color: var(--color-outline-active, #F4B841BA);
}

#section-header .palette-two .app-mobile .weglot-widget__wrapper {
  border-color: var(--color-border-2, #FFFFFF47);
}

#section-header .palette-two .app-mobile .weglot-widget__wrapper:hover {
  border-color: var(--color-outline-2-hover, #F4B841CC);
}

#section-header .palette-two .app-mobile .weglot-widget__wrapper:active {
  border-color: var(--color-outline-2-active, #F4B841BA);
}

#section-header .palette-two .app-mobile .weglot-widget__wrapper:hover .weglot-widget__label {
  color: var(--color-outline-2-hover, #F4B841CC);
}

#section-header .palette-two .app-mobile .weglot-widget__wrapper:active .weglot-widget__label {
  color: var(--color-outline-2-active, #F4B841BA);
}

#section-header .palette-two .app-mobile .weglot-widget__dropdown {
  border-color: var(--color-border-2, #FFFFFF47);
  box-shadow: 0 0 8px var(--color-border-2, #FFFFFF47);
}

#section-header .palette-two .app-mobile .weglot-widget__dropdown:hover {
  border-color: var(--color-outline-2-hover, #F4B841CC);
}

#section-header .palette-two .app-mobile .weglot-widget__dropdown:active {
  border-color: var(--color-outline-2-active, #F4B841BA);
}

#section-header .palette-two .app-mobile .weglot-widget__dropdown--up:before,
#section-header .palette-two .app-mobile .weglot-widget__dropdown--up:after {
  border-color: var(--background-primary-2, #0B1A26) transparent transparent transparent;
}

#section-header .palette-two .app-mobile .weglot-widget__dropdown--up:before {
  border-color: var(--color-border-2, #FFFFFF47) transparent transparent transparent;
}

#section-header .palette-two .app-mobile .weglot-widget__dropdown--up:hover:before {
  border-color: var(--color-outline-2-hover, #F4B841CC) transparent transparent transparent;
}

#section-header .palette-two .app-mobile .weglot-widget__dropdown--up:active:before {
  border-color: var(--color-outline-2-active, #F4B841BA) transparent transparent transparent;
}

#section-header .palette-two .app-mobile .weglot-widget__dropdown--down:before,
#section-header .palette-two .app-mobile .weglot-widget__dropdown--down:after {
  border-color: transparent transparent var(--background-primary-2, #0B1A26) transparent;
}

#section-header .palette-two .app-mobile .weglot-widget__dropdown--down:before {
  border-color: transparent transparent var(--color-border-2, #FFFFFF47) transparent;
}

#section-header .palette-two .app-mobile .weglot-widget__dropdown--down:hover:before {
  border-color: transparent transparent var(--color-outline-2-hover, #F4B841CC) transparent;
}

#section-header .palette-two .app-mobile .weglot-widget__dropdown--down:active:before {
  border-color: transparent transparent var(--color-outline-2-active, #F4B841BA) transparent;
}

#section-header .palette-two .app-mobile .weglot-widget__item:hover {
  color: var(--color-outline-2-hover, #F4B841CC);
}

#section-header .palette-two .app-mobile .weglot-widget__item:active {
  color: var(--color-outline-2-active, #F4B841BA);
}

#section-header .palette-three .app-mobile .weglot-widget__wrapper {
  border-color: var(--color-border-3, #0B1A2626);
}

#section-header .palette-three .app-mobile .weglot-widget__wrapper:hover {
  border-color: var(--color-outline-3-hover, #0B1A26CC);
}

#section-header .palette-three .app-mobile .weglot-widget__wrapper:active {
  border-color: var(--color-outline-3-active, #0B1A26BA);
}

#section-header .palette-three .app-mobile .weglot-widget__wrapper:hover .weglot-widget__label {
  color: var(--color-outline-3-hover, #0B1A26CC);
}

#section-header .palette-three .app-mobile .weglot-widget__wrapper:active .weglot-widget__label {
  color: var(--color-outline-3-active, #0B1A26BA);
}

#section-header .palette-three .app-mobile .weglot-widget__dropdown {
  border-color: var(--color-border-3, #0B1A2626);
  box-shadow: 0 0 8px var(--color-border-3, #0B1A2626);
}

#section-header .palette-three .app-mobile .weglot-widget__dropdown:hover {
  border-color: var(--color-outline-3-hover, #0B1A26CC);
}

#section-header .palette-three .app-mobile .weglot-widget__dropdown:active {
  border-color: var(--color-outline-3-active, #0B1A26BA);
}

#section-header .palette-three .app-mobile .weglot-widget__dropdown--up:before,
#section-header .palette-three .app-mobile .weglot-widget__dropdown--up:after {
  border-color: var(--background-primary-3, #F4B841) transparent transparent transparent;
}

#section-header .palette-three .app-mobile .weglot-widget__dropdown--up:before {
  border-color: var(--color-border-3, #0B1A2626) transparent transparent transparent;
}

#section-header .palette-three .app-mobile .weglot-widget__dropdown--up:hover:before {
  border-color: var(--color-outline-3-hover, #0B1A26CC) transparent transparent transparent;
}

#section-header .palette-three .app-mobile .weglot-widget__dropdown--up:active:before {
  border-color: var(--color-outline-3-active, #0B1A26BA) transparent transparent transparent;
}

#section-header .palette-three .app-mobile .weglot-widget__dropdown--down:before,
#section-header .palette-three .app-mobile .weglot-widget__dropdown--down:after {
  border-color: transparent transparent var(--background-primary-3, #F4B841) transparent;
}

#section-header .palette-three .app-mobile .weglot-widget__dropdown--down:before {
  border-color: transparent transparent var(--color-border-3, #0B1A2626) transparent;
}

#section-header .palette-three .app-mobile .weglot-widget__dropdown--down:hover:before {
  border-color: transparent transparent var(--color-outline-3-hover, #0B1A26CC) transparent;
}

#section-header .palette-three .app-mobile .weglot-widget__dropdown--down:active:before {
  border-color: transparent transparent var(--color-outline-3-active, #0B1A26BA) transparent;
}

#section-header .palette-three .app-mobile .weglot-widget__item:hover {
  color: var(--color-outline-3-hover, #0B1A26CC);
}

#section-header .palette-three .app-mobile .weglot-widget__item:active {
  color: var(--color-outline-3-active, #0B1A26BA);
}

@media (min-width: 1100px) {
  .header__app:has(.app-desktop) {
    margin-right: 32px;
  }

  .header__app:has(.app-mobile) {
    display: none;
  }

  header:has(.app-mobile) .header__app:has(.app-desktop) {
    display: block;
  }

  #section-header .header__app [data-short-names="true"] {
    width: auto;
  }

  #section-header .header__app .weglot-widget__wrapper {
    border-radius: var(--border-radius-dynamic);
    padding: 0;
    border: none;
  }

  #section-header .header__app .weglot-widget__label {
    transition: all var(--animation-duration) var(--transition-function-ease-in-out);
  }

  #section-header .header__app .weglot-widget__dropdown {
    left: 50%;
    transform: translate(-50%, 0);
    border: 1px solid var(--color-border, #0B1A2626);
    border-radius: var(--border-radius-rounded);
    transition: all var(--animation-duration) var(--transition-function-ease-in-out);
  }

  #section-header .header__app .weglot-widget__dropdown--up,
  #section-header .header__app .weglot-widget__dropdown--down {
    top: calc(100% + 11px);
    bottom: auto;
  }

  #section-header .header__app .weglot-widget__dropdown:before,
  #section-header .header__app .weglot-widget__dropdown:after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0px;
    height: 0px;
    border-style: solid;
    transition: all var(--animation-duration) var(--transition-function-ease-in-out);
  }

  #section-header .header__app .weglot-widget__dropdown--up:before,
  #section-header .header__app .weglot-widget__dropdown--up:after,
  #section-header .header__app .weglot-widget__dropdown--down:before,
  #section-header .header__app .weglot-widget__dropdown--down:after {
    bottom: 100%;
    border-width: 0 10px 10px 10px;
  }

  #section-header .header__app .weglot-widget__dropdown--up:before,
  #section-header .header__app .weglot-widget__dropdown--down:before {
    bottom: calc(100% + 1px);
  }

  #section-header .header__app .weglot-widget__item {
    white-space: nowrap;
    transition: all var(--animation-duration) var(--transition-function-ease-in-out);
  }

  #section-header .palette-one .header__app .weglot-widget__label {
    color: var(--color-primary, #0B1A26);
  }

  #section-header .palette-one .header__app .weglot-widget__wrapper:hover .weglot-widget__label {
    color: var(--color-outline-hover, #F4B841CC);
  }

  #section-header .palette-one .header__app .weglot-widget__wrapper:active .weglot-widget__label {
    color: var(--color-outline-active, #F4B841BA);
  }

  #section-header .palette-one .header__app .weglot-widget__dropdown {
    border-color: var(--color-border, #0B1A2626);
    background-color: var(--background-primary, #FFFFFF) !important;
    box-shadow: 0 0 8px var(--color-border, #0B1A2626);
  }

  #section-header .palette-one .header__app .weglot-widget__dropdown:hover {
    border-color: var(--color-outline-hover, #F4B841CC);
  }

  #section-header .palette-one .header__app .weglot-widget__dropdown:active {
    border-color: var(--color-outline-active, #F4B841BA);
  }

  #section-header .palette-one .header__app .weglot-widget__dropdown--up:before,
  #section-header .palette-one .header__app .weglot-widget__dropdown--up:after,
  #section-header .palette-one .header__app .weglot-widget__dropdown--down:before,
  #section-header .palette-one .header__app .weglot-widget__dropdown--down:after {
    border-color: transparent transparent var(--background-primary, #FFFFFF) transparent;
  }

  #section-header .palette-one .header__app .weglot-widget__dropdown--up:before,
  #section-header .palette-one .header__app .weglot-widget__dropdown--down:before {
    border-color: transparent transparent var(--color-border, #0B1A2626) transparent;
  }

  #section-header .palette-one .header__app .weglot-widget__dropdown--up:hover:before,
  #section-header .palette-one .header__app .weglot-widget__dropdown--down:hover:before {
    border-color: transparent transparent var(--color-outline-hover, #F4B841CC) transparent;
  }

  #section-header .palette-one .header__app .weglot-widget__dropdown--up:active:before,
  #section-header .palette-one .header__app .weglot-widget__dropdown--down:active:before {
    border-color: transparent transparent var(--color-outline-active, #F4B841BA) transparent;
  }

  #section-header .palette-one .header__app .weglot-widget__item {
    color: var(--color-primary, #0B1A26);
  }

  #section-header .palette-one .header__app .weglot-widget__item:hover {
    color: var(--color-outline-hover, #F4B841CC);
  }

  #section-header .palette-one .header__app .weglot-widget__item:active {
    color: var(--color-outline-active, #F4B841BA);
  }

  #section-header .palette-two .header__app .weglot-widget__label {
    color: var(--color-primary-2, #FFFFFF);
  }

  #section-header .palette-two .header__app .weglot-widget__wrapper:hover .weglot-widget__label {
    color: var(--color-outline-2-hover, #F4B841CC);
  }

  #section-header .palette-two .header__app .weglot-widget__wrapper:active .weglot-widget__label {
    color: var(--color-outline-2-active, #F4B841BA);
  }

  #section-header .palette-two .header__app .weglot-widget__dropdown {
    border-color: var(--color-border-2, #FFFFFF47);
    background-color: var(--background-primary-2, #0B1A26) !important;
    box-shadow: 0 0 8px var(--color-border-2, #FFFFFF47);
  }

  #section-header .palette-two .header__app .weglot-widget__dropdown:hover {
    border-color: var(--color-outline-2-hover, #F4B841CC);
  }

  #section-header .palette-two .header__app .weglot-widget__dropdown:active {
    border-color: var(--color-outline-2-active, #F4B841BA);
  }

  #section-header .palette-two .header__app .weglot-widget__dropdown--up:before,
  #section-header .palette-two .header__app .weglot-widget__dropdown--up:after,
  #section-header .palette-two .header__app .weglot-widget__dropdown--down:before,
  #section-header .palette-two .header__app .weglot-widget__dropdown--down:after {
    border-color: transparent transparent var(--background-primary-2, #0B1A26) transparent;
  }

  #section-header .palette-two .header__app .weglot-widget__dropdown--up:before,
  #section-header .palette-two .header__app .weglot-widget__dropdown--down:before {
    border-color: transparent transparent var(--color-border-2, #FFFFFF47) transparent;
  }

  #section-header .palette-two .header__app .weglot-widget__dropdown--up:hover:before,
  #section-header .palette-two .header__app .weglot-widget__dropdown--down:hover:before {
    border-color: transparent transparent var(--color-outline-2-hover, #F4B841CC) transparent;
  }

  #section-header .palette-two .header__app .weglot-widget__dropdown--up:active:before,
  #section-header .palette-two .header__app .weglot-widget__dropdown--down:active:before {
    border-color: transparent transparent var(--color-outline-2-active, #F4B841BA) transparent;
  }

  #section-header .palette-two .header__app .weglot-widget__item {
    color: var(--color-primary-2, #FFFFFF);
  }

  #section-header .palette-two .header__app .weglot-widget__item:hover {
    color: var(--color-outline-2-hover, #F4B841CC);
  }

  #section-header .palette-two .header__app .weglot-widget__item:active {
    color: var(--color-outline-2-active, #F4B841BA);
  }

  #section-header .palette-three .header__app .weglot-widget__label {
    color: var(--color-primary-3, #0B1A26);
  }

  #section-header .palette-three .header__app .weglot-widget__wrapper:hover .weglot-widget__label {
    color: var(--color-outline-3-hover, #0B1A26CC);
  }

  #section-header .palette-three .header__app .weglot-widget__wrapper:active .weglot-widget__label {
    color: var(--color-outline-3-active, #0B1A26BA);
  }

  #section-header .palette-three .header__app .weglot-widget__dropdown {
    border-color: var(--color-border-3, #0B1A2626);
    background-color: var(--background-primary-3, #F4B841) !important;
    box-shadow: 0 0 8px var(--color-border-3, #0B1A2626);
  }

  #section-header .palette-three .header__app .weglot-widget__dropdown:hover {
    border-color: var(--color-outline-3-hover, #0B1A26CC);
  }

  #section-header .palette-three .header__app .weglot-widget__dropdown:active {
    border-color: var(--color-outline-3-active, #0B1A26BA);
  }

  #section-header .palette-three .header__app .weglot-widget__dropdown--up:before,
  #section-header .palette-three .header__app .weglot-widget__dropdown--up:after,
  #section-header .palette-three .header__app .weglot-widget__dropdown--down:before,
  #section-header .palette-three .header__app .weglot-widget__dropdown--down:after {
    border-color: transparent transparent var(--background-primary-3, #F4B841) transparent;
  }

  #section-header .palette-three .header__app .weglot-widget__dropdown--up:before,
  #section-header .palette-three .header__app .weglot-widget__dropdown--down:before {
    border-color: transparent transparent var(--color-border-3, #0B1A2626) transparent;
  }

  #section-header .palette-three .header__app .weglot-widget__dropdown--up:hover:before,
  #section-header .palette-three .header__app .weglot-widget__dropdown--down:hover:before {
    border-color: transparent transparent var(--color-outline-3-hover, #0B1A26CC) transparent;
  }

  #section-header .palette-three .header__app .weglot-widget__dropdown--up:active:before,
  #section-header .palette-three .header__app .weglot-widget__dropdown--down:active:before {
    border-color: transparent transparent var(--color-outline-3-active, #0B1A26BA) transparent;
  }

  #section-header .palette-three .header__app .weglot-widget__item {
    color: var(--color-primary-3, #0B1A26);
  }

  #section-header .palette-three .header__app .weglot-widget__item:hover {
    color: var(--color-outline-3-hover, #0B1A26CC);
  }

  #section-header .palette-three .header__app .weglot-widget__item:active {
    color: var(--color-outline-3-active, #0B1A26BA);
  }
}
