.header__content--padding-top {
  padding-top: var(--padding-top-mobile, 0px);
}

.header__content--padding-bottom {
  padding-bottom: var(--padding-bottom-mobile, 0px);
}

.header__content-inner {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  gap: 0px 8px;
  grid-template-areas:
    "column-2 column-1 column-3";
  align-items: center;
}

.header__mobile-menu-opener-left {
  grid-template-areas:
    "column-2 column-1 column-3";
  margin-left: -8px;
}

.header__mobile-menu-opener-right {
  grid-template-areas:
    "column-1 column-3 column-2";
  margin-right: -8px;
}

.header__logo-wrapper {
  grid-area: column-1;
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  align-items: center;
}

.header__logo-text {
  font-size: 24px;
  line-height: var(--line-height-md, 1.3333);
  font-weight: var(--font-weight-semibold, 600);
  margin: 0;
  color: currentColor;
}

.header__logo-image {
  max-height: 64px;
  max-width: 200px;
}

.header--menu-opened {
  position: sticky;
  top: var(--header-transform, 0px);
  left: 0;
  right: 0;
  transition: top var(--animation-duration, 200ms) var(--transition-function-ease-in-out);
}

.header__nav-wrapper {
  grid-area: column-2;
  height: 100%;
  display: flex;
  align-items: center;
}

.header__mobile-menu-opener-right .header__nav-wrapper {
  margin: 0 0 0 5px;
}

.header__links {
  grid-area: column-3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.header__search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 15px;
  position: relative;
  height: 100%;
}

.header__search-opener {
  color: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.header__search-opener svg {
  pointer-events: none;
}

.header__search-opener g {
  transition: all var(--animation-duration, 200ms) var(--transition-function-ease-in-out);
}

.header__cart {
  margin: 0 0 0 20px;
  min-width: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.palette-one .header__content {
  color: var(--color-primary, #0B1A26);
  background: var(--background-primary, #FFFFFF);
  border-bottom: 1px solid var(--color-border, #0B1A2626);
}

.palette-one .header__search-opener g {
  stroke: var(--color-primary, #0B1A26);
}

.palette-one .header__search #header-search-opener:checked ~ .header__search-opener g {
  stroke: var(--color-outline, #F4B841);
}

.palette-one .header__search-opener:hover g {
  stroke: var(--color-outline-hover, #F4B841CC);
}

.palette-one .header__search-opener:active g {
  stroke: var(--color-outline-active, #F4B841BA);
}

.palette-one .header__cart .fa-spinner-third {
  color: var(--color-primary, #0B1A26);
}

.palette-two .header__content {
  color: var(--color-primary-2, #FFFFFF);
  background: var(--background-primary-2, #0B1A26);
  border-bottom: 1px solid var(--color-border-2, #FFFFFF47);
}

.palette-two .header__search-opener g {
  stroke: var(--color-primary-2, #FFFFFF);
}

.palette-two .header__search #header-search-opener:checked ~ .header__search-opener g {
  stroke: var(--color-outline-2, #F4B841);
}

.palette-two .header__search-opener:hover g {
  stroke: var(--color-outline-2-hover, #F4B841CC);
}

.palette-two .header__search-opener:active g {
  stroke: var(--color-outline-2-active, #F4B841BA);
}

.palette-two .header__cart .fa-spinner-third {
  color: var(--color-primary-2, #FFFFFF);
}

.palette-three .header__content {
  color: var(--color-primary-3, #0B1A26);
  background: var(--background-primary-3, #F4B841);
  border-bottom: 1px solid var(--color-border-3, #0B1A2626);
}

.palette-three .header__search-opener g {
  stroke: var(--color-primary-3, #0B1A26);
}

.palette-three .header__search #header-search-opener:checked ~ .header__search-opener g {
  stroke: var(--color-outline-3, #0B1A26);
}

.palette-three .header__search-opener:hover g {
  stroke: var(--color-outline-3-hover, #0B1A26CC);
}

.palette-three .header__search-opener:active g {
  stroke: var(--color-outline-3-active, #0B1A26BA);
}

.palette-three .header__cart .fa-spinner-third {
  color: var(--color-primary-3, #0B1A26);
}

@media (min-width: 1100px) {
  .header__content--padding-top {
    padding-top: var(--padding-top, 0px);
  }

  .header__content--padding-bottom {
    padding-bottom: var(--padding-bottom, 0px);
  }

  .header__search {
    margin: 0;
  }

  .header__cart {
    margin: 0 0 0 32px;
  }

  .header__cart:only-child {
    margin: 0;
  }
}

@media (min-width: 1100px) and (hover: hover) {
  .header__content-inner {
    grid-template-columns: max-content 1fr max-content;
    grid-template-areas: "column-1 column-2 column-3";
    gap: 0px;
  }

  .header__content-inner.header__menu-position--centered {
    grid-template-columns: calc(var(--grid-item-width, 200px) + var(--grid-item-gap, 24px)) 1fr calc(var(--grid-item-width, 200px) + var(--grid-item-gap, 24px));
  }

  .header__logo-wrapper:not(:empty) {
    margin-right: var(--grid-item-gap, 24px);
  }

  .header__links:not(:empty) {
    margin-left: var(--grid-item-gap, 24px);
  }

  .header-menu-bottom .header__search {
    flex-grow: 1;
    padding: 0 20px;
    margin: 0 auto;
    max-width: 640px;
  }

  .header-menu-bottom .header__search-opener {
    display: none;
  }

  .header__mobile-menu-opener-left,
  .header__mobile-menu-opener-right,
  .header__mobile-menu-opener-left .header__nav-wrapper,
  .header__mobile-menu-opener-right .header__nav-wrapper {
    margin: 0;
  }

  .header-logo-centered .header__content-inner {
    grid-template-columns: 1fr max-content 1fr;
    grid-template-areas:
      "column-2 column-1 column-3";
  }

  .header-logo-centered .header__logo-wrapper {
    margin: 0 var(--grid-item-gap, 24px);
  }

  .header-menu-bottom .header__content-inner {
    grid-template-columns: calc(var(--grid-item-width, 200px) + var(--grid-item-gap, 24px)) 1fr;
    grid-template-areas:
      "column-1 column-3"
      "column-2 column-2";
  }

  .header-menu-bottom .header__logo-wrapper {
    padding: 0 0 16px;
  }

  .header-menu-bottom .header__links {
    justify-content: flex-end;
    padding: 0 0 16px;
    margin: 0;
    position: relative;
  }

  .header-menu-bottom .header__nav-wrapper {
    height: auto;
  }

  .header-menu-bottom .header__links:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 9999px;
    left: 50%;
    top: 100%;
    z-index: 1;
    transform: translate(-50%, 0);
  }

  .header-menu-bottom .header__cart {
    flex: 0 0 var(--grid-item-width, 200px);
    margin: 0 0 0 var(--grid-item-gap, 24px);
    justify-content: flex-end;
  }

  .palette-one.header-menu-bottom .header__links:before {
    background: var(--color-border, #0B1A2626);
  }

  .palette-two.header-menu-bottom .header__links:before {
    background: var(--color-border-2, #FFFFFF47);
  }

  .palette-three.header-menu-bottom .header__links:before {
    background: var(--color-border-3, #0B1A2626);
  }
}
